flows
[{"id":"a71bddf.941c72","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"d7903f97.18a7d","type":"ibmiot in","z":"a71bddf.941c72","authentication":"apiKey","apiKey":"24297276.f7114e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"67890","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":200,"wires":[["8304e87b.76a448","f96230d3.d6c61","2e8556aa.98e0ca","227b4113.eec49e","6c36e6d4.bef568"]]},{"id":"f96230d3.d6c61","type":"debug","z":"a71bddf.941c72","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":120,"wires":[]},{"id":"8304e87b.76a448","type":"function","z":"a71bddf.941c72","name":"weight","func":"global.set('w',msg.payload.weight)\nmsg.payload=msg.payload.weight\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":200,"wires":[["3d2a40c0.ba463"]]},{"id":"2e8556aa.98e0ca","type":"function","z":"a71bddf.941c72","name":"distance","func":"global.set('d',msg.payload.distance)\nmsg.payload=msg.payload.distance\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":280,"wires":[["7250ab31.74a804"]]},{"id":"e0dce59d.e231f8","type":"http in","z":"a71bddf.941c72","name":"","url":"/value","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["1ee23211.b8098e"]]},{"id":"7db6553c.28118c","type":"http response","z":"a71bddf.941c72","name":"","statusCode":"","headers":{},"x":590,"y":400,"wires":[]},{"id":"1ee23211.b8098e","type":"function","z":"a71bddf.941c72","name":"","func":"msg.payload={\n    \"distance\":global.get('d'),\n    \"weight\":global.get('w'),\n    \"longitude\":global.get('lo'),\n    \"latitude\":global.get('la'),\n    \"longitude1\":global.get('lo1'),\n    \"latitude1\":global.get('la1'),\n   \n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":400,"wires":[["7db6553c.28118c"]]},{"id":"227b4113.eec49e","type":"function","z":"a71bddf.941c72","name":"longitude","func":"global.set('lo',msg.payload.longitude)\nmsg.payload=msg.payload.longitude\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":160,"wires":[["f0833e4e.24eae"]]},{"id":"6c36e6d4.bef568","type":"function","z":"a71bddf.941c72","name":"latitude","func":"global.set('la',msg.payload.latitude)\nmsg.payload=msg.payload.latitude\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":240,"wires":[["f0833e4e.24eae"]]},{"id":"c620ec88.42be6","type":"ui_worldmap","z":"a71bddf.941c72","group":"b42163f3.dbab2","order":5,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"10","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":760,"y":180,"wires":[]},{"id":"f0833e4e.24eae","type":"function","z":"a71bddf.941c72","name":"","func":"msg.payload=\n    {\"name\":\"garbage bin\", \n\"latitude\": global.get('la'),\n\"longitude\":global.get('lo')}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":180,"wires":[["c620ec88.42be6"]]},{"id":"3d2a40c0.ba463","type":"ui_chart","z":"a71bddf.941c72","name":"","group":"bea754d2.9acd48","order":2,"width":8,"height":6,"label":"weight","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#e9a6a5","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":220,"wires":[[]]},{"id":"7250ab31.74a804","type":"ui_chart","z":"a71bddf.941c72","name":"","group":"f72d6e8f.66fb2","order":1,"width":8,"height":7,"label":"distance","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1500","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#8444c1","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":580,"y":260,"wires":[[]]},{"id":"24297276.f7114e","type":"ibmiot","name":"pooja","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b42163f3.dbab2","type":"ui_group","name":"Status","tab":"25adc40d.e5c4bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"bea754d2.9acd48","type":"ui_group","name":"weight","tab":"6a86c2f9.bbb72c","order":1,"disp":true,"width":8,"collapse":false},{"id":"f72d6e8f.66fb2","type":"ui_group","name":"distance","tab":"6a86c2f9.bbb72c","order":2,"disp":true,"width":8,"collapse":false},{"id":"25adc40d.e5c4bc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6a86c2f9.bbb72c","type":"ui_tab","name":"project","icon":"dashboard","order":5,"disabled":false,"hidden":false}]